<table class="table text-center table-bordered">
    <thead>
      <tr class="text-white bg-primary">
        <th scope="col">Order Number</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">12345678</th>
        <td>John Smith</td>
        <td>5th Ave, New York</td>
        <td>{{100 | currency}}</td>
        <td>New</td>
      </tr>
      <tr>
        <th scope="row">12345678</th>
        <td>John Smith</td>
        <td>5th Ave, New York</td>
        <td>{{150 | currency}}</td>
        <td>New</td>
      </tr>
    </tbody>
</table>
