<div *ngIf="orderViews">
  <div id="order-view" class="" *ngIf="!addPage">
    <div class="my-container">
        <span class="text-primary h4">Orders</span>
        <button type="button" class="btn btn-secondary btn-sm" (click)="switchPage()">New Order</button>
    </div>
    <table class="table text-center table-bordered">
        <thead>
          <tr class="text-white bg-primary">
            <th scope="col">Order Number</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Address</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let orderView of orderViews">
          <tr>
            <th scope="row"><a class="link-opacity-100" href="#">{{ orderView.Id | number: '8.0-0' }}</a></th>
            <td>{{orderView.CustomerName}}</td>
            <td>{{orderView.CustomerAddress}}</td>
            <td>{{orderView.TotalCost | currency}}</td>
            <td>{{orderView.Status}}</td>
          </tr>
        </tbody>
    </table>
</div>
</div>
<div *ngIf="!orderViews">
  <p>Loading data...</p>
</div>

<div *ngIf="productViews">
  <div id="order-adding" *ngIf="addPage">
    <span class="text-primary h4">Orders</span><br><br>
      <form>
          <p class="form-item h5">
              Order number: <label class="form-item-line"> 123456789 </label> 
              Order date: <label> 01/01/2015 </label>
          </p>
          <p class="form-item h5">
              Customer: <select class="">
                  <option>John Smith</option>
                  <option>John Smith</option>
              </select>
          </p>
          <p class="form-item h5">
              Status: <select class="">
                  <option>New</option>
                  <option>Paid</option>
                  <option>Shipped</option>
                  <option>Delivered</option>
                  <option>Closed</option>
              </select>
          </p>
          <p class="form-item h5">
              Total cost: {{ 150 | currency}}
          </p>
          <div class="my-container">
              <span class="text-primary h4">Add Products:</span>
              <button type="button" class="btn btn-secondary btn-sm">Add Products To Order</button>
          </div>
      
      <table class="table text-center table-bordered">
          <thead>
            <tr class="text-white bg-primary">
              <th scope="col">Product Id</th>
              <th scope="col">Product Name</th>
              <th scope="col">Product Category</th>
              <th scope="col">Product Size</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody *ngFor="let productView of productViews">
            <tr>
              <th scope="row"><a class="link-opacity-100" href="#">{{ productView.Id | number: '8.0-0' }}</a></th>
              <td>{{productView.Name}}</td>
              <td>{{productView.Category}}</td>
              <td>{{productView.Size}}</td>
              <td>{{productView.Quantity}}</td>
              <td>{{productView.Price}}</td>
            </tr>
          </tbody>
      </table>
  
      <div class="container">
          <div class="row">
            <div class="col-2">
              Comment:
            </div>
            <div class="col-6">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
      </div>
      <div class="container mt-4">
        <div class="d-flex justify-content-end">
          <button type="submit" (click)="switchPage()" class="btn btn-secondary me-2">Save</button>
          <button class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!productViews">
  <p>Loading data...</p>
</div>